$canvas-left-offset: 200px;
$color-q-primary: #009000;
$color-r-primary: #000090;
$color-s-primary: #900000;

#canvas {
  background-color: lightskyblue;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.q {
  color: $color-q-primary;
  border-color: $color-q-primary;
}

.r {
  color: $color-r-primary;
  border-color: $color-r-primary;
}

.s {
  color: $color-s-primary;
  border-color: $color-s-primary;
}

.info-panel {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  right: .5em;

  > div {
    width: 200px;
    margin-top: .5em;
    margin-left: .5em;
    padding: .2em;
    background-color: #eeeeee;
  }

  .settings {
    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      justify-content: space-between;
    }
  }

  .selected-tile {
    display: flex;
    justify-content: space-between;
  }

  .q, .r, .s {
    font-weight: 600;
    margin-left: .2em;
  }
}

.tile-units {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid orange;

  display: flex;
  justify-content: center;

  > div {
    margin-top: 2em;
  }
}

.movement-indicators {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;

  .direction-triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; // half of base width
    border-right: 10px solid transparent; // half of base width
    border-bottom: 10px solid black; // height
    transform-origin: center;
    opacity: 30%;
    cursor: pointer;
  }

  .N {
    position: absolute;
    right: calc(50% - .5em);
    //top: 0; // rectangle
    top: 3px; // triangle
    transform: rotate(0deg);
  }

  .NE {
    position: absolute;
    //right: 15%; // rectangle
    right: 10%; // triangle
    //top: 20%; // rectangle
    top: 24%; // triangle
    transform: rotate(60deg);
  }

  .SE {
    position: absolute;
    //right: 15%; // rectangle
    right: 10%; // triangle
    //bottom: 20%; // rectangle
    bottom: 24%; // triangle
    transform: rotate(120deg);
  }

  .S {
    position: absolute;
    right: calc(50% - .5em);
    //bottom: 0; // rectangle
    bottom: 2px; // triangle
    transform: rotate(180deg);
  }

  .SW {
    position: absolute;
    //left: 15%; // rectangle
    left: 10%; // triangle
    //bottom: 20%; // rectangle
    bottom: 24%; // triangle
    transform: rotate(240deg);
  }

  .NW {
    position: absolute;
    //left: 15%; // rectangle
    left: 10%; // triangle
    //top: 20%; // rectangle
    top: 24%; // triangle
    transform: rotate(300deg);
  }
}

.tile-info {
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;

  div.coords {
    position: absolute;
    //left: calc(50% - .5em);
    bottom: calc(50% - .5em);
    width: 100%;
    text-align: center;
  }

  .i {
    //font-weight: 600;
  }
}

.tile-hex-flat {
  box-sizing: border-box;
  position: absolute;
  clip-path: polygon(25% 1%, 75% 1%, 99% 50%, 75% 99%, 25% 99%, 1% 50%);
}

.tile-hex-flat.normal {
  background-color: #b0b0b0;
}

.tile-hex-flat.hovered {
  background-color: #c0c0c0;
}

.tile-hex-flat.selected {
  background-color: #b0b000;
}

.tile-hex-flat.selected.hovered {
  background-color: #d0d000;
}
