<ng-template #noWorld>
  Waiting for world...
</ng-template>
<ng-container *ngIf="world else noWorld">
  <div class="info-panel">
    <div class="settings">
      <div>
        <div>World:</div>
        <div>{{ world.name }}</div>
      </div>
      <div>
        <div>Show coordinates:</div>
        <div><input [(ngModel)]="showCoordinates" type="checkbox"></div>
      </div>
      <div>
        <div>Show units:</div>
        <div><input [(ngModel)]="showUnits" type="checkbox"></div>
      </div>
      <div>
        <div>Turn:</div>
        <div>{{ world.turnStatus }} - {{ world.turnNumber }}</div>
      </div>
      <div class="turnButtons">
        <button (click)="closeTurnButtonClicked()">Close</button>
        <button (click)="processTurnButtonClicked()">Process</button>
      </div>
    </div>
    <div>
      <div class="selected-tile">
        <span>Selected tile:</span>
        <ng-container *ngIf="selectedTile">
        <span>
          <span class="q">q{{selectedTile.coords.q}}</span>
          <span class="r">r{{selectedTile.coords.r}}</span>
        </span>
        </ng-container>
      </div>
      <div *ngIf="selectedTile">
        <div>Units</div>
        <div style="margin: 0 .5em">
          <ng-container *ngIf="world.getUnitAt(selectedTile.coords.key) as unitGroups">
            <app-unit-widget
              *ngFor="let unitGroup of unitGroups"
              [size]="unitGroup.getGroupSize()"
              [type]="unitGroup.getUnitType()"
            ></app-unit-widget>
          </ng-container>
        </div>
      </div>
      <div>
        <div>Recruit</div>
        <div style="margin: 0 .5em">
          <app-unit-widget (unitSizeChanged)="registerRecruits($event)" [editable]="true" [restrictions]="'non_negative'" [size]="0"
                           [type]="UnitType.INFANTRY"></app-unit-widget>
          <app-unit-widget (unitSizeChanged)="registerRecruits($event)" [editable]="true" [restrictions]="'non_negative'" [size]="0"
                           [type]="UnitType.CAVALRY"></app-unit-widget>
          <app-unit-widget (unitSizeChanged)="registerRecruits($event)" [editable]="true" [restrictions]="'non_negative'" [size]="0"
                           [type]="UnitType.ARTILLERY"></app-unit-widget>
          <div style="display: flex; flex-direction: row; justify-content: flex-end">
            <button (click)="submitRecruitAction()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div (drag)="onDrag($event)" (dragstart)="onDragStart($event)" draggable="true" id="canvas">
    <div
      (click)=onMouseClick(tile)
      (mouseenter)="onMouseEnter(tile)"
      (mouseleave)="onMouseLeave(tile)"
      *ngFor="let tile of world.tiles"
      [class.hovered]="tile.mouseOver"
      [class.selected]="tile.selected"
      [ngClass]="tile.state"
      [style.height.px]="world.tileHeight"
      [style.left.px]="tile.left + dragOffset.x + globalOffset.x"
      [style.top.px]="tile.top + dragOffset.y + globalOffset.y"
      [style.width.px]="world.tileWidth"
      class="tile-hex-flat">
      <ng-container *ngIf="showUnits">
        <div class="tile-units">
          <div>
            <span>{{ tile.unitsSignature }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="showCoordinates">
      <div
        *ngFor="let tile of world.tiles; let i = index;"
        [style.height.px]="world.tileHeight"
        [style.left.px]="tile.left + dragOffset.x + globalOffset.x"
        [style.top.px]="tile.top + dragOffset.y + globalOffset.y"
        [style.width.px]="world.tileWidth"
        class="tile-info">
        <div class="coords">
          <span class="i">{{ i }}.</span>
          <span class="q"> q{{ tile.q }}</span>
          <span class="r">r{{ tile.r }}</span>
        </div>
      </div>
    </ng-container>
    <ng-container>
      <div
        *ngFor="let tile of world.tiles; let i = index;"
        [style.height.px]="world.tileHeight"
        [style.left.px]="tile.left + dragOffset.x + globalOffset.x"
        [style.top.px]="tile.top + dragOffset.y + globalOffset.y"
        [style.width.px]="world.tileWidth"
        class="movement-indicators">
        <div class="direction-triangle N"></div>
        <div class="direction-triangle NE"></div>
        <div class="direction-triangle SE"></div>
        <div class="direction-triangle S"></div>
        <div class="direction-triangle SW"></div>
        <div class="direction-triangle NW"></div>
      </div>
    </ng-container>
  </div>
</ng-container>
